@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-mono);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
}

@keyframes typing {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #ffffff;
  }
}

.animate-typing {
  display: inline-block;
  width: 0;
  animation: typing 2.2s steps(20) 1 forwards, blink 0.7s 2;
}
